<app-navbar></app-navbar>
<div class="container mt-5">
    <img src="assets/backgroun.jpg"  style="box-shadow: 1px 1px 1px 7px grey;" alt="">
    <div class="container p-3" style="opacity:0.8; background:black;width:50%; position: absolute; top: 70%; left: 30%">
        <h3 style="font-weight: bolder;color:white" class="text-center" >Sharing Your thoughs with millions <br> of people  is now just one click away</h3>
        <button class="btn btn-lg btn-outline-warning btn-block" routerLink='/login'>Get Started</button>
    </div>
</div>
<div class="container d-flex mt-5">
    <div class="container mr-4" id="leftC">
            <div class="container d-flex" id="categAndLine">
                <h5><span style="color: grey"> Category:</span> <span style="border-bottom:2px solid orange; margin-bottom: 2px; color: grey"> News </span></h5>

            </div>
            <div class="container mt-2">
            <h2 style="color: red">The Farmer Bill 2020</h2>
                <p class="mt-3" style="font-weight:bolder; font-size:20px; color: white">The new law passed farm bills will give farmers the freedom to trade across staes and empower them to turn into traders of their own produce and be in control of the process. </p>
        </div>
        <div class="container d-flex">
            <h4 id="AuthName" class="mr-2" style="color: white">Author: ROSHNI | </h4>
            <h4>15 NOV 2020</h4>
        </div>
        <button class="btn btn-block btn-warning mt-1"><span style="font-weight:bolder">READ MORE </span> </button>
        </div>
    <div class="container" id="rightC">
        <img src="assets/farmerbill.jpg" alt="" style="width: 90%; height:100%">
    </div>
</div>
<div class="container d-flex mt-5">
        <div class="container" id="rightC">
                <img src="assets/animal.JPG" alt="" style="width: 90%; height:100%">
            </div>
        <div class="container mr-4" id="leftC">
                <div class="container d-flex" id="categAndLine">
                    <h5><span style="color: grey"> Category:</span> <span style="border-bottom:2px solid orange; margin-bottom: 2px; color: grey"> Wildlife </span></h5>

                </div>
                <div class="container mt-2">
                <h2 style="color: red">North korea media in rare critique of china</h2>
                    <p class="mt-3" style="font-weight:bolder; font-size:20px; color: white">Non semper pede suscipit, orci aliquet nec accumsan, massa rem inceptos vel lorem. Vehicula lacus vestibulum turpis commodo quam faucibus, lectus rutrum dolor </p>
            </div>
            <div class="container d-flex">
                <h4 id="AuthName" class="mr-2" style="color: white">Author: Ritika | </h4>
                <h4>21 AUG 2019</h4>
            </div>
            <button class="btn btn-block btn-warning mt-1"><span style="font-weight:bolder">READ MORE </span> </button>
            </div>

    </div>
<div class="container d-flex mt-5">
  <div class="container mr-4" id="leftC">
    <div class="container d-flex" id="categAndLine">
      <h5><span style="color: grey"> Category:</span> <span style="border-bottom:2px solid orange; margin-bottom: 2px; color: grey"> News </span></h5>

    </div>
    <div class="container mt-2">
      <h2 style="color: red">AWS India Falls into Losses in FY20</h2>
      <p class="mt-3" style="font-weight:bolder; font-size:20px; color: white">AWS india falls into losses in FY20 even as revenue swells up 58% . AWS announced that it will be investing about $2.77 Bn toopen a cloud region in hyderabad.</p>
    </div>
    <div class="container d-flex">
      <h4 id="AuthName" class="mr-2" style="color: white">Author: Kritti | </h4>
      <h4>18 Dec 2020</h4>
    </div>
    <button class="btn btn-block btn-warning mt-1"><span style="font-weight:bolder">READ MORE </span> </button>
  </div>
  <div class="container" id="rightC">
    <img src="assets/aws.png" alt="" style="width: 90%; height:100%">
  </div>
</div>
<div class="container d-flex mt-5">
  <div class="container" id="rightC">
    <img src="assets/burger.JPG" alt="" style="width: 90%; height:100%">
  </div>
  <div class="container mr-4" id="leftC">
    <div class="container d-flex" id="categAndLine">
      <h5><span style="color: grey"> Category:</span> <span style="border-bottom:2px solid orange; margin-bottom: 2px; color: grey"> Food </span></h5>

    </div>
    <div class="container mt-2">
      <h2 style="color: red">What's in a Burger</h2>
      <p class="mt-3" style="font-weight:bolder; font-size:20px; color: white"> I recently revisited Whataburger after years of disagreeing with those who believe that theirs is one of the best Hamburgers around.  Past experiences have been less than impressive, as their patties tend to be leathery and overcooked. However, with a local food critic’s recent positive review on one of their new specialty burgers, I decided to give Whataburger another try.</p>
    </div>
    <div class="container d-flex">
      <h4 id="AuthName" class="mr-2" style="color: white">Author: RIA | </h4>
      <h4>21 AUG 2020</h4>
    </div>
    <button class="btn btn-block btn-warning mt-1"><span style="font-weight:bolder">READ MORE </span> </button>
  </div>

</div>

